@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #0a2540;
  --color-secondary: #b6c0cd;
  --color-brand: #543afd;
  --color-tertiary: #ebeef1;
  --color-error: #dc2626;
  --color-black: white;
}

.dark {
  --color-primary: #ebeef1;
  --color-tertiary: #0a2540;
  --color-black: #000000;
}

#root {
  margin: 0 auto;
  padding: 0 6rem;
  text-align: center;
  overflow: hidden;
}

body {
  background-color: var(--color-black);
}

.edit-side-bar {
  background-color: var(--color-black);
}
